body {
        
    margin: 0;
    padding: 0;
}

 .full-page {
    margin: 0;
    padding: 0;
    width: 1600px;
  height: 7335px;
 background-color: #fff ;
 justify-content: baseline;
    position: relative;
    display: block;
    
}

.container h1 {
    width: 259px;
    height: 40px;
    
    color: #fff;
    font-size: 32px;
    position: absolute;
    padding-top: 177px;
    padding-bottom: 383px;
    padding-left: 530px;
    padding-right: 531px;
    
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-shrink: 0;
}

.container p {
    width: 632px;
    height: 190px;
    /* padding: 283px 484px 6862px 484px; */
    color: #fff;
    font-size: 72px;
    text-align: center;
    position: absolute;
    padding-top: 233px;
    padding-bottom: 177px;
    padding-left: 344px;
    padding-right:344px ;
    margin-top: 0px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
}

.container {
    position: absolute;
    width: 1320px;
    height: 600px;
    margin: 50px 140px 6685px 140px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('Banner Image.png');
    
    

    background-size: cover;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    border-radius: 16px;
    
    flex-shrink: 0;
    

}
.has{
    width: 802.9px;
    height: 795.219px;
    flex-shrink: 0;
    
    position: absolute;
    top: 715px;
    left: 334px;
    bottom: 5825;
    right: 463.1px;
    
    
    text-align: center;

    }
.has h1{
    color: #ff0000;
    font-size: 120px;
    margin-top: 0;
}
.has .has-h4{
    color: #ff0000;
    font-size: 30px;
    margin-top: 0;
    

}
.has .has-h2{
    color: #070211;
    font-size: 60px;
    
    top: 0;
    
    
    
}
.greet{
    /* background-image: url('resources/Vectorrr.png'); */
    background-repeat: no-repeat;
    height: 600px;
    width: 1320px;
    flex-shrink: 0;
    position: absolute;
    margin-top: 1696px;
    margin-right: 140px;
    margin-left: 140px;
    margin-bottom: 5039px;

    top: 0;
    
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('resources/Vectorrr.png');
    border-radius: 15px;
    
    
    


    
}
.greet p{
    position: absolute;
    width: 642px;
    height: 176px;
    
    color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px;
letter-spacing: 7.04px;
padding: 126px 552px 298px 126px;

}
.greet h5{
    color: rgba(255, 255, 255, 0.80);
    
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: fixed 697px;
    height: fixed 60px;
    letter-spacing: 0.57px;
    
    padding: 326px 497px 214px 126px;
    
    

}
.greet .greet-image{
    position: absolute;
    top: 0;
    width: 319.83px;
    height: 464.662px;
    padding: 68.11px 138px 67.23px 862.17px;
}
.greet .j-btn1{
    position: absolute;
    top: 0;
    
    width: auto;
    height: 24px;
    background:none ;
    border: none;
    color: #FFF;
    
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 434px 1059px 142px 158px;
    
}
.address{
    
    width: 1320px;
    height: 482px;
    
    position: absolute;
    margin:2416px 140px 4437px 140px;
    flex-shrink: 0;
    background:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    
    
}
.address p{

    text-align: center;
    width:549px;
    height: 168px;
    padding: 100px 386px 214px 385px;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;

}
.address .address-red{
    color: #F00;
    text-align: center;

    font-family: Inter;

    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; /* 175% */
    text-transform: capitalize;
}
.address .join-btn2{
    width: auto 103px;
    height: auto 24px;
    font-size: 20px;

    color: #FFF;
    text-align: center;
    font-family: Inter;


    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;

    position: absolute;
    top: 0;
   
    margin-right: auto 609px;
    margin-bottom: 126px;
    margin-top: 332px;
    margin-left: 608px;
    border-radius: 8px;
    background: #F00;
    padding: 16px 32px;

    display: inline-flex;

    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    
    
    
    
}
.about{
    position: absolute;
}
.about .circle1{
    width: 463px;
    height: 463px;
    flex-shrink: 0;
    position: absolute;
    border-radius: 463px;
    border: 15px solid #F00;
    position: absolute;
    margin: 3018px 534px 3854px 603px;
    

    
    
}
.circle1 img{
    width: 364.844px;
    height: 364.844px;
    flex-shrink: 0;
    position: absolute;
   
    padding: 49.08px;
    border-radius: 364.844px;

}
.about h3{
    position: absolute;
    width: 207px;
    height: 29px;
    margin: 3122px 1253px 4184px 140px;
    color: #F00;
    text-align: center;
    font-family: inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.about h1{
    width: 328px;
    height: 60px;
    position: absolute;
    margin: 3167px 1132px 4108px 140px ;
    
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style:normal;
    font-weight: 900;
    line-height:normal;
    text-transform:capitalize;
}
.about p{
    width: 393px;
    height: 128px;
    position: absolute;
    margin:3249px 1067px 3958px 140px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */

}
.about h2{
    width: 126px;
    height: 58px;
    margin:3130px 289.67px 4147px 1184.33px ;
    position: absolute;
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;


}
.about .p2{
    width: 276px;
    height: 96px;
    position:absolute;
    margin: 3204px 140px 4035px 1184px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
}
.about .about-image{
    height: 140px;
    width: 140px;
    flex-shrink: 0;
    position: absolute;

    margin:3343px 276px 3852px 1184px;
}
.gift{
    position: absolute;
    
 }
 .gift h4{
    position: absolute;
    width: 263px;
    height: 29px;
    margin:3601px 669px 3705px 668px;
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

 }
 .gift h1{
    position: absolute;
    width: 677px;
    height: 91px;
    margin:3646px 462px 3598px 461px;
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-align: center;


 }
 .gift .h-red{
    color: #f00;
    
    }
 .gift p{
    height:96px;
    width: 1068px;
    position: absolute;
    margin: 3765px 266px 3474px 266px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; 

 }
 
    .gift .gift-img1{
        width:  1320px;
        height: 229px;
        position: absolute;
        margin: 4358px 140px 2748px 140px;
        
    }
    
   
    .gift .gift-img2 img{
        width: 429px;
        height: 433px;
        flex-shrink: 0;
        position: absolute;
        margin:3925px 140px 2977px 1031px;
        
    }
    .gift .gift-img3 img{
        width: 206.841px;
        height: 206.841px;
        flex-shrink: 0;
        position: absolute;
        
        
        margin-top: 4011px;
        margin-right: 425.92px;
        margin-left: 886.74px;
        margin-bottom: 3036.48px;

    }
    .gift .gift-img4{
        position: absolute;
        /* top: 0; */
        margin-bottom: 2837.24;
        margin-top: 3925px;
        margin-left: 140px;
        
        

    }
    .offers{
        position: absolute;
        margin-left: 140px;
    }
    .offers .day h3{
        position: absolute;
    
        margin-top: 4707.07px;
        
        width: 192px;
        height: 29px;

        color: #F00;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    
        
        
    
    .offers .day h2{
        position: absolute;
        width: 566px;
        height: 60px;
        margin-top: 4758.07px;
       

        color: #070211;
        font-family: Merriweather;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        text-transform: capitalize;
        
         }
    .offers .day p{
        position: absolute;
        width: 896px;
        height: 64px;
        margin-top: 4840.07px;
        color: rgba(7, 2, 17, 0.60);
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; 
        
        
                
        }
        
    .offers .pr-1,
    .offers .pr-2,
    .offers .pr-3,
    .offers .pr-4,
    .offers .pr-5,
    .offers .pr-6{ 
        position: absolute;
        top: 0;
        height: 450px;
        width: 424px;
        flex-shrink: 0;
        
        
    }
     .offers .pr-1,
     .offers .pr-2,
     .offers .pr-3{
        position: absolute;
        margin-top: 4926.07px;

    }
    .offers .pr-4,
    .offers .pr-5,
    .offers .pr-6{
        position: absolute;
        margin-top: 5400.07px;
        

    }
    .offers .pr-2{
        margin-left: 448px;
    }
    .offers .pr-3{
        margin-left: 896px;

    }
    .offers .pr-5{
        margin-left: 448px;

    }
    .offers .pr-6{
        margin-left: 896px;
    }
    .mail{
        position: absolute;
        width: 1320px;
        height: 616px;
        flex-shrink: 0;
        border-radius: 16px;
        background: rgba(255, 0, 0, 0.05);
        margin-top: 5990px;
        margin-left: 140px;
        margin-right: 140px;
    }
    .mail-img1 img{
        position: absolute;
        width: 150px;
        height: 150px;
        margin:80px 585px 386px 585px;
    }
    .mail .mail-hp h2{
        width: 512px;
        height: 60px;
        position: absolute;
        margin: 270px 404px 286px 404px;
        color: #070211;
        text-align: center;
        font-family: Merriweather;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        text-transform: capitalize;

    }
    .mail .mail-hp p{
        position: absolute;
        width:896px;
        height: 64px;
        margin: 352px 212px 200px 212px;
        color: rgba(7, 2, 17, 0.60);
        text-align: center;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; 
    }
    .mail .mail-put input{
        width: 638px;
        height: 72px;
        flex-shrink: 0;
        position: absolute;
        /* margin: 464px 336px 80px 336px; */
        margin-top: 464px;
        margin-left: 336px;
        margin-bottom: 80px;
        margin-right: 336px;
        border-radius: 50px 50px 50px 50px;
        background: #FFF;
        border: none;

    }
    .mail .mail-put input::placeholder{
        color: rgba(7, 2, 17, 0.30);
        text-align: center;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 141px;
        height: 22px;
        position: absolute;
        margin-top: 0px;
        margin-left: 25px;
        margin-bottom: 25px;
        margin-right: 30px;
        

    }
    .mail .mail-put .sub-btn1{
        width: 210px;
        position: absolute;
        height: 72px;
        flex-shrink: 0;
        border-radius: 0px 50px 50px 0px;
        background: #F00;
        border: none;
        /* margin: 464px 336px 80px 336px; */
        margin-top: 464px;
        margin-bottom: 80px;
        margin-left:774px;
        margin-right: 336px;
        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: capitalize;

        }


    .foot{
        width: 1600px;
        height: 609px;
        flex-shrink: 0;
    
        position: absolute;
        margin-top: 6726.07px;
        background: #070211;
        
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0.07px;
        
        top: 0;
        border-radius: 16px;
        }
        .foot .foot-address{
            position: absolute;
        }
        .foot .foot-address h4{
            position: absolute;
            color: #FFF;
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 40px;
            height: 80px;
            width: 375px;
            flex-shrink: 0;
            margin:120px 1085px 409px 140px;
            

        }
        .foot .foot-address .foot-call{
            position: absolute;
            width: 24px;
            height: 24px;
            flex-shrink: 0;
            margin:128px 502px 457px 1074px;
        }
        .foot .foot-address .foot-web{
            position: absolute;
            width: 24px;
            height: 24px;
            flex-shrink: 0;
            margin:168px 502px 417px 1074px;
        }

        .foot .hr1{
            width: 1320px;
            height: 0px;
            background: rgba(255, 255, 255, 0.15);
            margin:250px 140px 359px 140px;
            /* margin-top: 250px; */
            top: 0;
            position: absolute;
        
        }
        .foot-address h2{
            position: absolute;
            width: 195px;
            height: 40px;
            flex-shrink: 0;
            color: #FFF;
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 40px;
            margin: 120px 291px 449px 1114px;

        }
        .foot-address h3{
            position: absolute;
            width: 211px;
            height: 40px;
            flex-shrink: 0;

            color: #FFF;
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 40px;
            margin: 160px 275px 409px 1114px;

        }
        .foot .icon1{
            position: absolute;
            width: 64px;
            height: 64px;
            flex-shrink: 0;
            margin-top: 298px;

        }
        /* .foot .icon1, */
        .foot .icon2,
        .foot .icon3,
        .foot .icon4{
            position: absolute;
            width:64px;
            height: 64px;
            flex-shrink: 0;
            
            margin-top:298px;
            
            margin-bottom: 247px;
            
        

        }
        /* .foot .icon1{
            position: absolute;
            margin-left: 640px;
            margin-right: 896px;
        } */
        .foot .icon2{
            position: absolute;
            margin-left: 728px;
            margin-right: 808px;
        }
        /* .foot .icon3{
            position: absolute;
            margin-left: 816px;
            margin-right: 720px;
        } */
        .foot .icon4{
            position: absolute;
            margin-left: 904px;
            margin-right: 632px;
        }
        .foot .hr2{
            position: absolute;
            width: 1320px;
            height: 0px;
            margin: 410px 140px 199px 140px;
            background: rgba(255, 255, 255, 0.15);
            
        }
        
        
        .foot .finish h5{
            position: absolute;
            width: 295px;
            height: 29px;
            flex-shrink: 0;
            margin:460px 1165px 120px 140px;
            color: #FFF;
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            
        }
        .foot .finish2 h4{
            position: absolute;
            color: #FFF;
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            
        
            width: 145px;
            height: 29px;
            /* margin: 460px 140px 120px 1315px; */
            flex-shrink: 0;
            margin-top: 460px;
            margin-left: 1345px;
            margin-bottom: 120px;
        
            top: 0;
            
        }
     
    