body { */
    
    margin: 50px 140px 6000px 140px;
}

.container { */
    margin: 50px 140px 6000px 140px;
    
    
    position: relative;
;
}

.old {
    
   

    width:1320px; /* Ensures the image takes the full width of its container */
    height: 600px;
}

p.h1 {
    position: absolute;
    top: 233px; 
    right: 344px;
    bottom: 177px;
    left: 344px;
    font-size: 50px;
    
    height: 192px;
    padding:
    margin: 0;
    width: 632px;
    color: blue;
    text-align: center;
    
    


     /* background-color: rgba(255, 255, 255, 0.8); Example background color with some transparency */ */ */
    /* box-sizing: border-box; */
}
.new{
    width: 802.9px;
height: 795.219px;
/* padding-top: 65px; */
/* padding-right: 463px; */
/* padding-left: 334px; */
/* padding-bottom: 5824.78px; */
 margin-right: 463px; */
 margin-top: 715px;

 margin-bottom: 5824.78px; */ */
 margin-left: 334px; */
}
main{
    
}
h1.bata{
    font-size: 120px;
    
    
    text-align: center;
}


